.about {
    padding-bottom: 1rem;

    &__bio-image {
        height: 40vh;
        width: 100%;
        background:
            linear-gradient(to right,
                rgba($primary-color, 0.9),
                rgba($primary-color, 0.3)),
            url('../img/img2.jpg') center top;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
            margin-bottom: 2rem;
        }
    }

    &__bio {
        width: 80%;
        text-align: center;
        padding-top: 4rem;

        hr {
            border: 2px solid $secondary-color;
        }

        .h2 {
            padding-bottom: 1rem;
        }
    }

    .tools {
        width: 60vw;
        margin: 2rem auto 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;

        &__lang {
            background: lighten($primary-color, 10%);
            padding: 0.5rem;
            border-bottom: 5px solid $secondary-color;

            h2,
            h3 {
                margin: 0.5rem 0;
            }

            h6 {
                margin: 0.3rem 0;
            }

            &__icons {
                grid-template-columns: repeat(3, 1fr);

                img{
                    width: 10%;
                }
            }
        }
    }

    .social-icons {
        display: flex;
        flex-direction: column;
        padding-left: -1rem;

        &__item {
            padding-bottom: 0.5rem;
        }
    }

    footer {
        transform:
            rotate(90deg) translate(-3rem, -5rem);
    }
}