.home {
  overflow: hidden;
  background:
    linear-gradient(to right,
      rgba($primary-color, 0.1),
      rgba($primary-color, 0.3)),
    url('../img/img1.jpg') center;
  background-size: auto;
  height: 100vh;

  #smTitle {
    display: inline-grid;
  }

  &__top {
    margin-top: 4rem;
    margin-left: 2rem;
    display: inline-grid;
    grid-template-columns: auto;
    grid-gap: 0.5rem;
    font-size: 1.5rem;

    .name {
      font-size: 2rem;
      border-bottom: 2px solid set-text-color($primary-color);
    }

    .line {
      position: relative;
      width: 80%;
      white-space: nowrap;
      overflow: hidden;
    }

    .curser {
      border-right: 4px solid #fff;
    }

    .typing1 {
      animation: typewriter1 3s steps(25) 1.5s 1 normal both,
        blinkCursor 0.6s steps(12) infinite normal;
    }

    .typing2 {
      animation: typewriter2 3s steps(25) 4.7s 1 normal both,
        blinkCursor 0.6s steps(12) infinite normal;
    }

  }

  #lgTitle {
    visibility: hidden;
  }
}

@keyframes typewriter1 {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes typewriter2 {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: #fff;
  }

  to {
    border-right-color: $secondary-color;
  }
}