.projects {
    padding-bottom: 1rem;

    &__bio-image {
        height: 40vh;
        width: 100%;
        background:
            linear-gradient(to right,
                rgba($primary-color, 0.9),
                rgba($primary-color, 0.3)),
            url('../img/img7.jpg') center top;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


    }

    &__bio {
        padding-top: 4rem;
        width: 70vw;
        text-align: center;

        hr {
            border: 2px solid $secondary-color;
        }

        h2 {
            padding-bottom: 1rem;
            font-size: 1.5rem;
        }

        p {
            padding-bottom: 1rem;
            font-size: 1rem;
        }
    }

    &__items {
        width: 65vw;
        margin: 2rem auto 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }

    &__item {
        border-bottom: 5px solid $secondary-color;
        overflow: hidden;
        cursor: pointer;


        img {
            width: 100%;
            object-fit: fill;
        }

        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            height: 100%;
            width: 100%;
            background: $secondary-color;
            opacity: 0;
            @include transition-ease;
        }

        &:hover {
            &::after {
                top: 0;
                opacity: 0.9;
            }

            .projects__btn {
                opacity: 1;
            }

            .projects__lab {
                opacity: 1;
            }
        }
    }

    &__btns {
        top: 0;
        left: -1%;
        height: 100%;
        width: 100%;
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: center;
    }



    &__btn {
        opacity: 0;
        margin-bottom: 0.5rem;
        color: set-text-color($secondary-color);
        @include transition-ease;

        &:hover {
            color: set-text-color(set-text-color($secondary-color));
        }
    }

    &__lab {
        display: none;
        opacity: 0;
        margin-bottom: 0.5rem;
    }

    &__sm {

        &__Labels {
            display: none;

            &__lab {
                margin-left: 4rem;
                margin-right: 4rem;
            }
        }
    }

    .carousel-control-next {
        padding-left: 5%;
    }

    .carousel-control-prev {
        padding-right: 5%;
    }

    .activeLabel {
        display: inline;

    }

    .social-icons {
        display: flex;
        flex-direction: column;
    }

    footer {
        transform:
            rotate(90deg) translate(-3rem, -5rem);
    }

}

.python1__replit {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    visibility: hidden;

    &.open {
        visibility: visible;
        z-index: 100;
    }

    .replit1__inner {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        padding: 1rem 1rem;
        background: rgba($primary-color, 0.85);
        list-style-type: none;

        transform: translateY(-100%);
        @include transition-ease;

        &.open {
            transform: translateY(0);
            z-index: 200;
        }

        &__frame {
            opacity: 1;
            z-index: 300;
        }
    }
}

.python2__replit {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    visibility: hidden;

    &.open {
        visibility: visible;
        z-index: 100;
    }

    .replit2__inner {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        padding: 1rem 1rem;
        background: rgba($primary-color, 0.85);
        list-style-type: none;

        transform: translateY(-100%);
        @include transition-ease;

        &.open {
            transform: translateY(0);
            z-index: 200;
        }

        &__frame {
            opacity: 1;
            z-index: 300;
        }
    }
}