@include media-xsm {
 
    .home {
        height: 100%;
        overflow: hidden;
        text-align: center;
        background:
            linear-gradient(to right,
                rgba($primary-color, 0.1),
                rgba($primary-color, 0.3)),
            url('../img/img1.jpg') center;
        background-size: auto;
        display: flex;
        align-items: flex-start;
        height: 100vh;

        &__name {
            font-size: 2rem;
            border-bottom: 2px solid set-text-color($primary-color);
        }

        .line {
            position: relative;
            width: 295px;
            white-space: nowrap;
            overflow: hidden;
        }

        .curser {
            border-right: 3px solid #fff;
        }

        .typing1 {
            animation: typewriter1 3s steps(25) 1.5s 1 normal both,
                blinkCursor 0.6s steps(12) infinite normal;
        }

        .typing2 {
            animation: typewriter2 3s steps(25) 4.7s 1 normal both,
                blinkCursor 0.6s steps(12) infinite normal;
        }

    }

    @keyframes typewriter1 {
        from {
            width: 0;
        }

        to {
            width: 255px;
        }
    }

    @keyframes typewriter2 {
        from {
            width: 0;
        }

        to {
            width: 218px;
        }
    }

    @keyframes blinkCursor {
        from {
            border-right-color: #fff;
        }

        to {
            border-right-color: $secondary-color;
        }
    }
}

@include media-sm {
    .contact {
        height: 100%;
        padding-top: 30vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        background:
            linear-gradient(to right,
                rgba($primary-color, 0.9),
                rgba($primary-color, 0.3)),
            url('../img/model-1.jpg') center top;
        background-size: cover;
    
        h2 {
            font-size: 3rem;
            margin-bottom: 2rem;
        }

        h4{
            display: inline;
            font-size: 1.5rem;
        }
    
        a{
            font-size: 2rem;
            
        }
    
        .text-secondary{
            font-size: 1.5rem;
        }
    
        &__list {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 2rem;
            font-size: 1.5rem;
        }
    
        .social-icons {
            position: initial;
            margin-top: 2rem;
        }
    }

    .home {
        height: 100%;
        overflow: hidden;
        text-align: center;
        background:
            linear-gradient(to right,
                rgba($primary-color, 0.1),
                rgba($primary-color, 0.3)),
            url('../img/img1.jpg') center;
        background-size: auto;
        display: flex;
        align-items: flex-start;
        height: 100vh;

        &__name {
            font-size: 3rem;
            border-bottom: 2px solid set-text-color($primary-color);
        }

        .line {
            position: relative;
            width: 295px;
            white-space: nowrap;
            overflow: hidden;
        }

        .curser {
            border-right: 4px solid #fff;
        }

        .typing1 {
            animation: typewriter1 3s steps(25) 1.5s 1 normal both,
                blinkCursor 0.6s steps(12) infinite normal;
        }

        .typing2 {
            animation: typewriter2 3s steps(25) 4.7s 1 normal both,
                blinkCursor 0.6s steps(12) infinite normal;
        }

    }

    @keyframes typewriter1 {
        from {
            width: 0;
        }

        to {
            width: 380px;
        }
    }

    @keyframes typewriter2 {
        from {
            width: 0;
        }

        to {
            width: 325px;
        }
    }

    @keyframes blinkCursor {
        from {
            border-right-color: #fff;
        }

        to {
            border-right-color: $secondary-color;
        }
    }
}

@include media-md {
    .home {
        height: 100%;
        padding-top: 40vh;
        overflow: hidden;
        align-items: center;
        text-align: center;
        background:
            linear-gradient(to right,
                rgba($primary-color, 0.1),
                rgba($primary-color, 0.3)),
            url('../img/img1.jpg') center top;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        &__name {
            font-size: 4rem;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            border-bottom: 2px solid set-text-color($primary-color);
        }

        .line {
            position: relative;
            border-right: 4px solid rgb(0, 255, 64);
            width: 295px;
            white-space: nowrap;
            overflow: hidden;
        }

        .typing {
            animation: typewriter 3s steps(25) 1s 1 normal both,
                blinkCursor 0.6s steps(12) infinite normal;
        }

    }

    @keyframes typewriter {
        from {
            width: 0;
        }

        to {
            width: 515px;
        }
    }

    @keyframes blinkCursor {
        from {
            border-right-color: #fff;
        }

        to {
            border-right-color: $secondary-color;
        }
    }

}

@include media-lg {
    .menu-btn {
        visibility: hidden;
    }

    .nav {
        visibility: visible;

        .menu-nav {
            display: block;
            transform: translateY(0);
            height: 100%;
            background: transparent;
            text-align: right;

            &__item {
                display: inline;
                padding-right: 1.5rem;
            }

            &__link {
                font-size: 1.5rem;
            }
        }
    }

    .about__bio {
        font-size: 1.2rem;
    }

    .education__bio {
        font-size: 1.2rem;
    }

    .projects__bio {
        font-size: 1.2rem;
    }

    .projects {
        &__bio-image {
            height: 40vh;
        }

        &__items {
            grid-template-columns: repeat(2, 1fr);
        }

        .text-secondary {
            font-size: 3rem;
        }
    }

    .contact__list {
        grid-template-columns: repeat(2, 1fr);
    }
}



@include media-xl {
    .projects {
        &__items {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .contact__list {
        grid-template-columns: repeat(3, 1fr);
    }

}